html, body{
	overflow: hidden;
	background-color: #000;
	padding: 0;
	margin: 0;
}

#game-container{
	background-color: #000;
	background-image: url("../img/theme/standard/wood.jpg");
	background-repeat: repeat;
	background-position: top left;
   	-moz-box-shadow:    inset 0 0 100px #000000;
   	-webkit-box-shadow: inset 0 0 100px #000000;
   	box-shadow:         inset 0 0 100px #000000;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#status-bar{
	position: absolute;
	width: 400px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(33, 33, 33, 0.5);
	border-top: 1px solid #50b05e;
	border-left: 1px solid #50b05e;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	z-index: 2000;
}

#status-bar:hover{
	opacity: 0.2;
	cursor: default;
}

.offline{
	border-color: #d33 !important;
}

.board {
	overflow: auto;
	padding: 5px;
	margin: 0px auto;
	background-color: rgba(165, 42, 42, 0.5);
	box-shadow: 0px 0px 100px #000;
	-moz-box-shadow: 0px 0px 100px #000;
	-webkit-box-shadow: 0px 0px 100px #000;
}

.tile{
	width: 10px;
	height: 10px;
	line-height: 45px;
	text-align: center;
	font-size: 6pt;
	background-color: #d18b47;
	float: left;
	border: 1px solid #d18b47;
	position: relative;
	z-index: 1;

}

.tile.alternate{
	background-color: #ffce9e;
	border-color: #ffce9e;
}

.tile:hover{
	border-color: #666;
	-moz-box-shadow:    inset 0 0 5px #555;
   	-webkit-box-shadow: inset 0 0 5px #555;
   	box-shadow:         inset 0 0 5px #555;
}

.tile.outlier{
	background-color: rgba(165, 42, 42, 1);
	border-color: rgba(145, 32, 32, 1);
}

.tile.first{
	clear: left;
}

.unit{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.unit-knight-white{
	background-image: url("../img/theme/standard/knight-white.png");
}

.unit-pawn-white{
	background-image: url("../img/theme/standard/pawn-white.png");
}

.unit-knight-black{
	background-image: url("../img/theme/standard/knight-black.png");
}

.unit-pawn-black{
	background-image: url("../img/theme/standard/pawn-black.png");
}

.tile-overlay{
    position: absolute;
    left:  0px;
    top:  0px;
    width:  100%;
    height: 100%;
    background-color: transparent;
}

.tile.selected{
	-webkit-animation: pulse 2s infinite ease-in-out;
	animation: pulse 2s infinite ease-in-out;
	border-color: #000;
	z-index: 2;
	position: relative;
}

.tile.selected .tile-overlay{
	background-color: rgba(0,0,0,0.2);
}

.tile.valid-move .tile-overlay{
	background-color: rgba(22,255,22,0.2);
}

.tile.valid-move-diverging .tile-overlay{
	background-color: rgba(11, 11, 178, 0.25);
}

#ui-container{
	background-image: url("../img/theme/standard/wood.jpg");
	background-repeat: repeat;
	background-position: top left;
   	-moz-box-shadow:    inset 0 0 200px #000000;
   	-webkit-box-shadow: inset 0 0 200px #000000;
   	box-shadow:         inset 0 0 200px #000000;
   	border-radius: 200px;
   	-webkit-border-radius: 200px;
   	-moz-border-radius: 200px;
   	border: 3px solid #8B4513;
	position: absolute;
	z-index: 10;
	top: 20px;
	right: 20px;
	width: 130px;
	height: 130px;
	text-align: center;
	box-sizing: content-box;
	padding: 20px;
}

button#endTurn{
	background: none;
	outline: none;
	border: none;
	padding: 0px;
	width: 108px;
	height: 108px;
	background-image: url("../img/theme/standard/hourglass.png");
	background-repeat: no-repeat;
	background-size: cover;
	text-indent: -200px;
	position: absolute;
	top:0; bottom:0; left:0; right:0;
	margin: auto;
}

button#endTurn:hover{
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

button#endTurn:active{
	opacity: 0.5;
}

@-moz-keyframes spin { 
	100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
	100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin {
	100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}


@keyframes pulse {
	0% { box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }
	50% { box-shadow: 0px 0px 20px rgba(0, 0, 0, 1); }
	100% { box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }
}

@-webkit-keyframes pulse {
	0% { -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }
	50% { -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 1); }
	100% { -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }
}

#playerSettings{
	display: none;
}