html, body{
	overflow: hidden;
	background-color: #000;
	padding: 0;
	margin: 0;
}

#game-container{
	background-color: #000;
}

.board {
	overflow: auto;
	padding: 5px;
	margin: 0px auto;
	background-color: rgba(165, 42, 42, 1);
}

.tile{
	width: 10px;
	height: 10px;
	line-height: 45px;
	text-align: center;
	font-size: 6pt;
	background-color: #d18b47;
	float: left;
	border: 1px solid #d18b47;
	position: relative;
	z-index: 1;

}

.tile.alternate{
	background-color: #ffce9e;
	border-color: #ffce9e;
}

.tile:hover{
	border-color: #666;
}

.tile.outlier{
	background-color: rgba(165, 42, 42, 1);
	border-color: rgba(145, 32, 32, 1);
}

.tile.first{
	clear: left;
}

.unit{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.unit-knight-white{
	background-image: url("../img/theme/standard/knight-white.png");
}

.unit-pawn-white{
	background-image: url("../img/theme/standard/pawn-white.png");
}

.unit-knight-black{
	background-image: url("../img/theme/standard/knight-black.png");
}

.unit-pawn-black{
	background-image: url("../img/theme/standard/pawn-black.png");
}

.tile-overlay{
    position: absolute;
    left:  0px;
    top:  0px;
    width:  100%;
    height: 100%;
    background-color: transparent;
}

.tile.selected{
	-webkit-animation: pulse 2s infinite ease-in-out;
	animation: pulse 2s infinite ease-in-out;
	border-color: #000;
	z-index: 2;
	position: relative;
}

.tile.selected .tile-overlay{
	background-color: rgba(0,0,0,0.2);
}

.tile.valid-move .tile-overlay{
	background-color: rgba(22,255,22,0.2);
}

.tile.valid-move-diverging .tile-overlay{
	background-color: rgba(11, 11, 178, 0.25);
}

@keyframes pulse {
	0% { box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }
	50% { box-shadow: 0px 0px 20px rgba(0, 0, 0, 1); }
	100% { box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }
}

@-webkit-keyframes pulse {
	0% { -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }
	50% { -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 1); }
	100% { -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }
}